<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h1>Gabrielle Smer</h1>
        <img class="image-container" src="../images/2023_09_01_DemoDay_Portraits-44.jpg" alt="Description of the image">
        <h2>Front-End Developer</h2>
        <p>I'm the best coder in the world</p>
      </div>
    </div>
  </div>
</div>
