 <section id="about">
      <div class="about-container">
       <!-- <h1> GABRIELLE SMER</h1> -->

        <img class="image-container m-3" src="../images/profile-pic-nyc.png" alt="Profile Picture">
        <!-- <h2>UX Designer</h2> -->
      </div>
    </section>
