<section id="aboutme">
<div class="content-container">
  <div class="photo-container-test">
    <img class="image-container" src="../images/polaroidprofilepic.png" alt="Profile Picture">
  </div>
  <div class="bio-container-test">
<p>Hi, I'm Gabrielle. With over a decade of international experience in Teaching and Digital Marketing, I bring a unique perspective to Product Design.</p>
<p>Passionate about understanding people and their needs, I create user-centered digital solutions that not only help users but also align with business goals and strategy. Obsessed with attention to detail, responsiveness, and consistency, I ensure my designs are both engaging and usable for as many users as possible.</p>
<p>Driven by problem-solving, adaptability, and a love for travel and languages, I thrive in diverse, fast-paced environments. My values and care for others push me to deliver designs that create impactful user experiences. I'm excited by the challenge of guiding projects from start to finish, always with the goal of achieving measurable results and creating enjoyable experiences for users.</p>
    <!--<a href="../documents/Gabrielle-Smer-Resume.pdf" class="button-link" target="_blank">CHECK OUT MY CV</a> -->
  </div>
</div>
