<section id="aboutme">
<div class="content-container">
  <div class="photo-container-test">
    <img class="image-container" src="../images/polaroidprofilepic.png" alt="Profile Picture">
  </div>
  <div class="bio-container-test">
<p>Hi, I’m Gabrielle. I’m a hybrid Product Designer and UI/UX Designer with over 10 years of international experience, and a background in teaching and digital marketing. My approach to design is practical, people-focused, and shaped by working across different cultures and industries.</p>
<p>I create user-centered digital products that are clear, accessible, and aligned with business goals. My work spans the full design process—from research and wireframes to high-fidelity UI and developer handoff—and I also bring front-end knowledge that helps bridge the gap between design and implementation.</p>
<p>I speak multiple languages and have lived and worked across several countries, which gives me a strong sensitivity to diverse user needs and communication styles. I’m comfortable in fast-paced, collaborative environments and enjoy contributing to projects that require both detail-oriented design and strategic thinking.</p>
<div class="about-links"> <a href="#timeline" class="timeline-title">▾ my timeline ▾</a>
  <a href="../documents/GSmer-CV.pdf" class="button-link" target="_blank">MY CV</a>
  </div>
  </div>
</div>
