<div class="row mt-5 justify-content-center align-items center">
  <div class="col-12 col-md-6">
    <section id="about">
      <div class="about-container">
        <h1> GABRIELLE SMER</h1>
        <img class="image-container m-3" src="../images/2023_09_01_DemoDay_Portraits-44.jpg" alt="Profile Picture">
        <h2>UX Designer</h2>
      </div>
    </section>
  </div>
  <div class="col-12 col-md-6">
    <div class= "bio-container">
      <p>Hi everyone!</p>
      <p>With a background in Teaching and Digital Marketing and a rich international experience, I was keen to develop my skills further. I chose <span class="bold-text">Le Wagon’s bootcamp</span> in Tokyo to do so and graduated in September 2023. I had the opportunity to learn and build a strong foundation in full stack programming and worked in a team on multiple web projects. </p>
      <p>Transitioning into web development allowed me to blend my creativity with technical skills, which sparked my interest in front-end development and UX design. I have a strong interest for design, a love for challenges, and a knack for adapting – qualities that make me a dynamic UX designer and front-end developer. Driven by my passion for travel, languages, and culture, I thrive in diverse environments and embrace the opportunity to create meaningful digital experiences.</p>
      <p>Passionate about creating engaging user experiences, I am actively seeking a UI/UX Designer position.</p>
      <p>Looking forward to connecting with fellow enthusiasts and potential employers in Barcelona!</p>
      <a href= "../documents/Gabrielle-Smer-CV-0824.pdf" class= "button-link " target="_blank">CHECK OUT MY CV</a>
    </div>
  </div>
</div>
