<section id="aboutme">
<div class="content-container">
  <div class="photo-container-test">
    <img class="image-container" src="../images/polaroidprofilepic.png" alt="Profile Picture">
  </div>
  <div class="bio-container-test">
<p>Hi everyone!</p>
<p>With over a decade of international experience and a background in Teaching and Digital Marketing, I bring a unique perspective to UX design.</p>
<p>My passion for creating user-focused digital experiences was ignited during my time at Le Wagon’s bootcamp in Tokyo, where I built a strong foundation in web development and worked on collaborative projects. This sparked my curiosity for how design and functionality come together to shape intuitive user experiences.</p>
<p>To deepen my understanding and skills in user-centered design, I completed a UX design bootcamp in Barcelona, focusing on research, prototyping, and crafting seamless interfaces through hands-on projects.</p>
<p>I am passionate about creating user-centered solutions and have a solid grasp of front-end development, which allows me to bridge the gap between conceptual design and implementation effectively.</p>
<p>Fueled by my love for problem-solving, adaptability, and a passion for travel and languages, I thrive in diverse, fast-paced environments.</p>
<p>Let’s connect and shape exceptional user experiences together!</p>
<p>Gabrielle</p>
    <!--<a href="../documents/Gabrielle-Smer-Resume.pdf" class="button-link" target="_blank">CHECK OUT MY CV</a> -->
  </div>
</div>
