<!-- <img class="banner" src="../images/Banner1801.png" alt="Banner">

<div class="banner">
  <div class="banner-content">

    <h2>
      <span class="hello-world">Hello, World! </span>
      <span class="im-gabrielle"> I'm Gabrielle</span>
    </h2>
    <p>I'm a user experience designer<br/>
      with a global mindset, shaped by years of living <br/>
       and working abroad
    </p>
    <div class="view-my-work">
      <a href="#work">VIEW MY WORK</a>
    </div>
  </div>
</div>
-->

<div class="banner">
<div class="banner-navbar-space">
</div>
  <div class="banner-text-container">
    <div class="text-content">
      <h2>
      ✦ Gabrielle ✦
      </h2>
      <p>Product designer with an international perspective, bringing fresh eyes to problem-solving and crafting experiences people love to use. My background in marketing, teaching, and coding strengthens my 360° approach, bridging strategy, usability, and implementation
      </p>
    </div>
  </div>
  <div class="banner-image-container">
    <img src="../images/Frame 2361.png" alt="intro-banner" class="intro-banner" />
  </div>
</div>
