<!-- <img class="banner" src="../images/Banner1801.png" alt="Banner"> -->
<div class="banner">
<h1>Hi, I'm Gabrielle</h1>
<p>I'm a user experience designer<br/>
with solid front-end development skills and a global mindset,<br/>
shaped by years of living and working abroad</p>
</div>
