<div class="footer">
  <div class="footer-links">
    <a href="https://www.linkedin.com/in/gabrielle-smer/" target="_blank"><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
    <a href="https://github.com/gaburierurafaeru" target="_blank"><i class="fa-brands fa-github" style="color: #ffffff;"></i></a>
    <a href="mailto:gabriellesmer.pro@gmail.com" target="_blank"><i class="fa-solid fa-envelope" style="color: #ffffff;"></i></a>
  </div>
</div>
