<div class="navbar d-flex fixed-top">
  <h1>G.Smer</h1>
  <div class="nav-links">
    <a href="#work" class="navbar-work">work</a>
    <a href="#aboutme" class="navbar-about">about</a>
     <!-- <a href="#" class="navbar-contact">get in touch▾</a> -->
    <a href="https://www.linkedin.com/in/gabrielle-smer/" target="_blank">linkedin</a>
      </div>
    </div>
  </div>
</div>
