<div class="navbar d-flex justify-content-center fixed-top">
  <div class>
    <a href="#about" class="navbar-link" >About</a>
    <a href="#skills" class="navbar-link" >Skills</a>
    <a href="#projects" class="navbar-link" >Projects</a>
    <a href="#contact" class="navbar-link" >Contact me</a>
  </div>
</div>
