<div class="navbar d-flex fixed-top">
  <h1>G.Smer</h1>
  <div class="nav-links">
    <a href="#work" class="navbar-work">work</a>
    <a href="#aboutme" class="navbar-about">about</a>

    <!-- Dropdown container -->
    <div class="dropdown">
      <a href="#" class="navbar-contact">get in touch▾</a>
      <div class="dropdown-content">
        <a href="mailto:gabriellesmer.pro@gmail.com">email</a>
        <a href="https://www.linkedin.com/in/gabrielle-smer/">linkedin</a>
      </div>
    </div>
  </div>
</div>
