<section id="newproject">
<div class="parent-container">
    <div class="new-card-container">
        <div class="new-overlay-card"></div>
        <div class="new-content">

        </div>
    </div>
</div>
</section>
