<section id="work">
<!--<p class = "project-header">SOME OF MY WORK</p> -->


<div class="parent-container">
    <div class="new-card-container">
    <img src="../images/Frame 2372.png" alt="Manos Libres" class="responsive-image" />
        <div class="new-overlay-card">
        <h1>MANOS LIBRES</h1>
        <h2>UX DESIGN</h2>
        <p class="description"> Identified the challenges food entrepreneurs face in managing their business, then designed an app that combines CRM functionality with tools to create custom online shops</p>
        <a href="https://medium.com/@gabriellesmer/how-we-designed-a-business-management-app-for-small-food-entrepreneurs-f58c8155077c" class="case-study-button" target="_blank">CASE STUDY</a>
        </div>

    </div>
</div>

<div class="parent-container">
    <div class="new-card-container">
    <img src="../images/Frame 2376.png" alt="ISIBCN" class="responsive-image" />
        <div class="new-overlay-card">
        <h1>ISI BCN</h1>
        <h2>UX DESIGN</h2>
        <p class="description"> Identified key usability issues through stakeholder insights and user research, then restructured the website’s information architecture and design to create a more seamless and engaging user experience</p>
        <a href="https://medium.com/@gabriellesmer/revamping-an-e-commerce-a-ux-project-b502a00e640d" class="case-study-button" target="_blank">CASE STUDY</a>
        </div>

    </div>
</div>


<div class="parent-container">
    <div class="new-card-container">
    <img src="../images/Frame 2337.png" alt="Barlance" class="responsive-image" />
    <div class="new-overlay-card">
        <h1>BA(R)LANCE</h1>
        <h2>UX DESIGN</h2>
        <p class="description"> Conducted in-depth research to uncover key challenges in reducing alcohol consumption, then designed a wellness app with intuitive features to help users track habits and make more mindful choices</p>
        <a href="https://medium.com/@gabriellesmer/ba-r-lance-designing-an-app-to-help-users-drink-more-consciously-587b85aed261" class="case-study-button" target="_blank">CASE STUDY</a>
        </div>
    </div>
</div>





</section>
