<section id="newproject">
<div class="parent-container">
    <div class="new-card-container">
    <img src="../images/barlancenew.png" alt="Barlance" class="responsive-image" />
        <div class="new-overlay-card">
        <h1>BA(R)LANCE</h1>
        </div>
        <div class="new-content">

        </div>

    </div>
</div>
</section>
