<section id="newproject">
<div class="parent-container">
    <div class="new-card-container">
    <img src="../images/Barlancemobileframe.png" alt="Barlance" class="responsive-image" />
        <div class="new-overlay-card">
        <h1>BA(R)LANCE</h1>
        <h2>UI/UX DESIGN</h2>
        <p class="description"> A mobile app that generates excuses for the user to say no to alcoholic drinks while tracking their intake and the number of times they said no.</p>
        <p class="case-study-button">CASE STUDY (soon)</p>
        </div>
        <div class="new-content">

        </div>

    </div>
</div>
</section>
