<section id="work">
<p class = "project-header">SOME OF MY WORK</p>
<div class="parent-container">
    <div class="new-card-container">
    <img src="../images/manoslibres1829.png" alt="Manos Libres" class="responsive-image" />
        <div class="new-overlay-card">
        <h1>MANOS LIBRES</h1>
        <h2>UX DESIGN</h2>
        <p class="description"> A mobile app that combines CRM functionality with tools for food entrepreneurs to create custom online shops, manage orders, and grow their business.</p>
        <p class="case-study-button">CASE STUDY (soon)</p>
        </div>

    </div>
</div>

<div class="parent-container">
    <div class="new-card-container">
    <div class="new-overlay-card">
        <h1>BA(R)LANCE</h1>
        <h2>UX DESIGN</h2>
        <p class="description"> A wellness app designed to address the primary, research-based challenge of helping users reduce their alcohol consumption.</p>
        <p class="case-study-button">CASE STUDY (soon)</p>
        </div>
    <img src="../images/ba(r)lance.png" alt="Barlance" class="responsive-image" />


    </div>
</div>

<div class="parent-container">
    <div class="new-card-container">
    <img src="../images/isinewnew.png" alt="ISIBCN" class="responsive-image" />
        <div class="new-overlay-card">
        <h1>ISI BCN</h1>
        <h2>UX DESIGN</h2>
        <p class="description"> A comprehensive revamp of an existing website, integrating stakeholder insights and addressing users' key pain points.</p>
        <p class="case-study-button">CASE STUDY (soon)</p>
        </div>

    </div>
</div>


</section>
