<div class="project-title m-5">
  <h1> WEB PROJECTS</h1>
</div>
<div class="flipit m-5">
  <div class="flipit-project-card ">
    <div class="flipit-project-card-inner">
      <div class="flipit-project-card-front">
      </div>
      <div class="flipit-project-card-back">
        <h2>FLIPT IT!</h2>
        <p>A music streaming platform that allows artists to collaborate through remixing and sampling each other's music</p>
        <p>In a team of 4, we built the entire app:
          Designed the UX/UI prototype on Figma
          Wrote the back-end code on Ruby On Rails
          Developed responsive pages with HTML, CSS, JS
          Collaborated on GitHub</p>
        <p>My specific roles: coded landing page, search bar, filters, search result page, navbar and designed the prototype</p>
      </div>
    </div>
  </div>
</div>
<div class="dogs m-5">
  <div class="dogs-project-card ">
    <div class="dogs-project-card-inner">
      <div class="dogs-project-card-front">
        <!-- Content for the front side of the card -->
      </div>
      <div class="dogs-project-card-back">
        <!-- Content for the back side of the card -->
      </div>
    </div>
  </div>
</div>
