<section id="projects">
  <div class="project-title">
    <h1> <i class="fa-solid fa-rocket"></i> WEB PROJECTS </h1>
  </div>
  <div class="project-container">
    <div class="flipit">
      <div class="flipit-project-card ">
        <div class="flipit-project-card-inner">
          <div class="flipit-project-card-front">
          </div>
          <div class="flipit-project-card-back">
            <h2>FLIPT IT!<a href="https://www.flip-it.live" class= "link" target="_blank">
               <i class="fa-solid fa-arrow-up-right-from-square"></i>
              </a></h2>
            <p class="italic-text">A music streaming platform that allows artists to collaborate through remixing and sampling </p>
            <p >In a team of 4, we built the entire app:
              <div class="row">
                <p class="col-6">Designed the UX/UI prototype on <span class="highlight">Figma</span>
                  Coded the backend on <span class="highlight">Ruby on Rails</span>
                  Developed responsive pages with <span class="highlight">HTML, CSS, Bootstrap and JavaScript</span>
                  Collaborated on <span class="highlight">GitHub</span></p>
                <p class="col-6">My specific roles:
                  <br>
                  coded the landing page, search bar, search filters, search result page, navbar and designed the prototype/design of the app</p>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="dogs">
        <div class="dogs-project-card ">
          <div class="dogs-project-card-inner">
            <div class="dogs-project-card-front">
              <!-- Content for the front side of the card -->
            </div>
            <div class="dogs-project-card-back">
              <h2>DOGS FOR DAYS <a href="https://dogs-for-days-97b3ca7f74fc.herokuapp.com/dogs" class="link" target="_blank">
                  <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a></h2>
              <p class="italic-text">A marketplace designed for dog owners to rent their pet to animal lovers in their community</p>
              <p>In a team of 4, we built the entire app:
                <div class="row">
                  <p class="col-6">Designed the UX/UI prototype on <span class="highlight">Figma</span>
                    Coded the backend on <span class="highlight">Ruby on Rails</span>
                    Developed responsive pages with <span class="highlight">HTML, CSS, Bootstrap and JavaScript</span>
                    Collaborated on <span class="highlight">GitHub</span></p>
                  <p class="col-6">My specific roles:
                    <br>
                    coded the landing page, search bar, search filters, search result page, navbar and designed the prototype/design of the app</p>
                </p>
              </div>
            </div>
          </div>
        </div>


      </div>
    </section>
