<div class="project-title m-5">
  <h1> WEB PROJECTS</h1>
</div>
<div class="flipit-project-card ">
  <div class="flipit-project-card-inner">
    <div class="flipit-project-card-front">
      <!-- Content for the front side of the card -->
    </div>
    <div class="flipit-project-card-back">
      <!-- Content for the back side of the card -->
    </div>
  </div>
</div>
<div class="dogs-project-card ">
  <div class="dogs-project-card-inner">
    <div class="dogs-project-card-front">
      <!-- Content for the front side of the card -->
    </div>
    <div class="dogs-project-card-back">
      <!-- Content for the back side of the card -->
    </div>
  </div>
</div>
