<div class="project-title m-5">
  <h1> WEB PROJECTS</h1>
</div>
<div class="col-12">
  <div class="row">
    <img class="project-image" src="../images/projects/flipit.png" alt="Description of the image">
  </div>
  <div class="row">
    <img class="project-image" src="../images/projects/dogsfordays.png" alt="Description of the image">
  </div>
</div>
