<section id="skills">
  <div class ="stack-title">
    <h1><i class="fa-solid fa-lightbulb"></i> SKILLS </h1>
  </div>
  <div class= "skills-container justify-content-center">
    <img class = "html-logo" src="../images/logos/html-logo.png" alt="html logo">
    <img class = "css-logo" src="../images/logos/css-logo.png" alt="css logo">
    <img class = "bootstrap-logo" src="../images/logos/bootstrap-logo.png" alt="bootstrap logo">
    <img class = "js-logo" src="../images/logos/js-logo.png" alt="js logo">
    <img class = "rails-logo" src="../images/logos/rails-logo.png" alt="rails logo">
    <img class = "figma-logo" src="../images/logos/figma-logo.png" alt="figma logo">
    <img class = "github-logo" src="../images/logos/github-logo.png" alt="github logo">
    <img class = "terminal-logo" src="../images/logos/terminal-seeklogo.com 2.svg" alt="terminal logo">
    <img class = "vscode-logo" src="../images/logos/vscode-logo.png" alt="vscode logo">
    <img class = "ai-logo" src="../images/logos/adobe-Illustrator-logo-5.png" alt="vscode logo">
  </div>
</section>
