<div class ="stack-title">
  <h1>SKILLS</h1>
</div>
<div class= "skills-container">
  <img class = "logo" src="../images/logos/css-logo.png" alt="css logo">
  <img class = "logo" src="../images/logos/bootstrap-logo.png" alt="bootstrap logo">
  <img class = "logo" src="../images/logos/figma-logo.png" alt="figma logo">
  <img class = "logo" src="../images/logos/github-logo.png" alt="github logo">
  <img class = "logo" src="../images/logos/html-logo.png" alt="html logo">
  <img class = "logo" src="../images/logos/js-logo.png" alt="js logo">
  <img class = "logo" src="../images/logos/rails-logo.png" alt="rails logo">
  <img class = "logo" src="../images/logos/Ruby-logo.png" alt="ruby logo">
  <img class = "logo" src="../images/logos/terminal-seeklogo.com 2.svg" alt="terminal logo">
  <img class = "logo" src="../images/logos/vscode-logo.png" alt="vscode logo">
</div>
