<div class="timeline-title">my timeline</div>
 <div class="timeline">
        <div class="timeline-item">
            <div class="left"><span class="date">Oct - Dec 2024</span><br><span class="place">IronHack, Barcelona</span> <br><span class="title">My UX journey begins</span></div>
            <div class="dot"></div>
            <div class="right">Inspired by my web development bootcamp - which sparked my curiosity about how design and functionality shape intuitive user experiences - I dove deep into UX at Ironhack’s 400+ hour bootcamp, gaining hands-on experience in UX research, prototyping, and UI design. I worked on collaborative projects to create seamless, user-centered interfaces from concept to final design.</div>
        </div>
        <div class="timeline-item">
            <div class="left"><span class="date">July - Oct 2023</span><br><span class="place">Le Wagon, Tokyo</span><br><span class="title">Diving into web development</span> </div>
            <div class="dot"></div>
            <div class="right">Eager to grow in my career, I was drawn to the tech industry and took the leap with Le Wagon’s intensive full-stack web development course. Through daily coding challenges and collaborative team projects, I gained hands-on experience and discovered my passion for creating user-focused digital experiences.</div>
        </div>
        <div class="timeline-item">
            <div class="left"><span class="date">2016 - 2014</span><br><span class="place">Japan & Australia</span> <br><span class="title">My teaching years</span></div>
            <div class="dot"></div>
            <div class="right">Spending 7+ years teaching English to students of all levels, backgrounds, and ages while living in Japan and Australia helped me become more adaptable, independent, and open-minded. Teaching also strengthened my communication skills, empathy, and ability to guide others in their growth through relationship-building, class management, and a strong sense of responsibility.</div>
        </div>
        <div class="timeline-item">
            <div class="left"><span class="date">2013 - 2014</span><br><span class="place">Marseille, France</span> <br><span class="title">Marketing experience</span></div>
            <div class="dot"></div>
            <div class="right">Applied my Master's in Marketing at a digital marketing agency, working with multiple clients to develop brand strategies while expanding their reach, audience, and engagement. This experience also gave me a strong foundation in project management, content creation, and brand/business strategy.</div>
        </div>
        <div class="timeline-item">
            <div class="left"><span class="date">2008 - 2013</span><br><span class="place">France and UK</span> <br><span class="title">University years</span></div>
            <div class="dot"></div>
            <div class="right">Earned a Bachelor's in English, including two years in the UK, followed by a Master's in Cultural Management and a Master's in Marketing.</div>
        </div>
    </div>
