.about-container {
  text-align: center;
  background-color: rgb(254, 254, 254);
  width: 100%;
  margin-top: 50px;
  color: rgb(242, 8, 156);
  margin: 0;
  padding-top: 20px; /* Adjust based on your header height */
  margin-top: -20px;
}
@media (max-width: 768px) {
  .about-container {
    padding-top: 0; /* Adjust based on your header height */
    margin-top: 0;
  }
}

.image-container {
  width: 297px;
  width: 350px;
}

.row {
  width: 100%;
  align-items: center;
}

a {
  color: rgb(242, 8, 156);
  text-decoration: none;
}

.button-link {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: white; /* Button background color */
  color: #c41e3a; /* Button text color */
  text-decoration: none;
  border: 1px solid #c41e3a; /* Button border */
  border-radius: 50px; /* Optional: Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

.button-link:hover {
  color: white; /* Button background color on hover */
  background-color: #c41e3a;
}
