.banner {
  height: 100%;
}

.project-link {
  margin: 30px auto;
  color: #000;
  font-family: Dosis;
  font-size: 45px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 1.7px;
}
