// since the div called "banner" is empty, if we don't set an especific height, its height is gonna be "0".
/*.banner {
  width: 100vw;
  height: 773px;
  background-size: cover;
  background-image: url("../images/bannertest.png");
}

@media (max-width: 768px) {
  .banner {
    width: 100vw;
    height: 867px; /* Adjust height proportionally
    background-image: url("../images/UXmobilebanner.png");
    background-size: cover;
  }
}
.project-link {
  color: #010101;
  font-family: Nunito;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 50px;
}
*/
/*
.banner {
  /*background: linear-gradient(-45deg, #fefefe, #f9f9f9, #f5f5f5, #ececec);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  display: flex;
  flex-direction: column; /* Keeps row layout
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  position: relative;
  background: #fefefe;
}

/*
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.banner h2 {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: nowrap;
  gap: 10px;
  text-align: center;
  color: #010101;
  margin: 0;
}

.banner a {
  display: inline-flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #c41e3a;
  color: #fefefe;
  font-family: Dosis;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 50px;
}
.hello-world {
  font-family: "Dosis", sans-serif;
  font-size: 50px;
  color: #010101;
  margin: 0;
  padding: 0;
}

.im-gabrielle {
  font-family: "Parisienne", cursive;
  font-size: 90px;
  color: #010101;
  margin: 0;
  padding: 0;
}

.hello-world,
.im-gabrielle {
  display: inline-block;
  white-space: nowrap;
}

.banner p {
  text-align: left;
  font-size: 40px !important;
  color: #010101;
  font-weight: 100;
  line-height: normal;
  left: 50%;
}

.view-my-work {
  margin: 20px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .banner h2 {
    font-size: 3rem !important;
    line-height: 0.9;
  }
  .banner p {
    font-size: 25px !important;
    margin-top: 10px;
  }
  .hello-world {
    font-size: 30px;
    margin: 0;
    padding: 0;
  }

  .im-gabrielle {
    font-size: 60px;
    margin: 0;
    padding: 0;
  }
}
*/

.banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #fefefe;
}

.banner-text-container {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: flex-end; /* Pushes content to the bottom */
  position: relative;
}

.text-content {
  width: 100%; /* Full width to control placement */
  position: absolute;
  bottom: 10%;
}

.banner-image-container img {
  display: none; /* Hide the <img> element */
}

.banner-image-container {
  background-image: url("../images/coolbanner.png");
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 50%;
}
.intro-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text-container h2 {
  font-size: 70px;
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: normal;
  color: #373737;
  padding-left: 12%; /* Moves it to the left */
  line-height: 1.2em;
  max-width: 90%;
}

.banner-text-container p {
  font-size: 30px;
  font-family: Dosis;
  color: #373737;
  padding-left: 21%; /* Moves it more to the right */
  line-height: 1.2em;
  max-width: 70%;
}

.banner-text-container h2,
.banner-text-container p {
  margin-top: 0; /* Remove default margins */
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0; /* Ensure no extra padding */
}

@media (max-width: 635px) {
  .banner-text-container h2 {
    font-size: 50px;
    line-height: 1em;
    margin-bottom: 5px;
  }

  .banner-text-container p {
    font-size: 20px;
    padding-right: 10%;
    max-width: 100%;
  }
  .banner-image-container {
    background-image: url("../images/coolbanner-mobile.png");
  }
}

@media (min-height: 950px) and (min-width: 1500px) {
  .text-content {
    bottom: 15%;
  }
  .banner-text-container h2 {
    font-size: 80px;
  }

  .banner-text-container p {
    font-size: 40px;
    max-width: 80%;
  }

  .banner-text-container {
    height: 40%;
  }

  .banner-image-container {
    height: 60%;
  }
}

@media (max-width: 400px) and (max-height: 700px) {
  .banner-text-container h2 {
    font-size: 40px;
  }

  .text-content {
    bottom: 5%;
  }
  .banner-text-container p {
    font-size: 35px;
  }
}

@media (min-width: 1100px) and (max-height: 630px) {
  .banner-text-container p {
    max-width: 100%;
  }
  .banner-text-container h2 {
    padding-left: 6%;
  }

  .banner-text-container p {
    padding-left: 11%;
  }
}

@media (min-height: 900px) and (max-width: 700px) {
  .banner-image-container {
    height: 60%;
  }
  .banner-text-container p {
    max-width: 90%;
  }
  .banner-text-container {
    height: 40%;
  }
}
