.bio-container{
  text-align: center;
  background-color: rgb(242, 8, 156);
  font-family: 'Dosis', sans-serif;
  margin-top: 50px;
  color: white;
  border-style: solid;
  border-color: rgb(242, 8, 156);
}
