.bio-container{
  text-align: center;
  font-family: 'Dosis', sans-serif;
  margin-top: 50px;
  color: rgb(242, 8, 156);
  border-style: solid;
  border-color: rgb(242, 8, 156);
  padding: 20px;
  border-radius: 5%;
  border-width: 5px;
}

// .bio-cards{
//     width: 200px;
//     height: 300px;
//     transform-style: preserve-3d;
//     transition: transform 0.6s;
// }

// .card-front,
// .card-back {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     backface-visibility: hidden; /* Hide the back side of the card initially */
// }

// .card-front {
//     background-color: #f2f2f2;
// }

// .card-back {
//     background-color: #ffc107;
//     transform: rotateY(180deg); /* Flip the back side initially */
// }

// .bio-container:hover .bio-card {
//     transform: rotateY(180deg); /* Flip the card on hover */
// }
