.footer {
  width: 100vw;
  height: 214px; /* Full height */
  background-size: cover;
  background-image: url("../images/Frame 2330.png");
  background-color: #ececec;
}

/* .greypart {
  text-align: center;
  background-color: #ececec;
  padding: 5px;
}

.redpart {
}*/

@media (max-width: 768px) {
  .footer {
    width: 100vw; /* Full width of the screen */
    height: 120px; /* Adjust height proportionally */
    background-image: url("../images/footer1336.png");
    background-size: cover;
  }
}
