.footer {
  width: 100vw;
  height: 214px; /* Full height */
  background-size: cover;
  background-image: url("../images/Frame 2330.png");
}

@media (max-width: 768px) {
  .footer {
    width: 100vw; /* Full width of the screen */
    height: 100px; /* Adjust height proportionally */
    background-image: url("../images/mobilefooter1235.png");
    background-size: cover;
  }
}
