.navbar {
  justify-content: right;
  background: rgba(0, 0, 0, 0);
  color: white;
  height: 90px;
  align-items: center;
  padding-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #c41e3a;
  font-family: "Dosis", sans-serif;
  font-size: 40px;
  margin: 7px;
  transition: color 0.3s ease;
}

.navbar-about {
  size: 40px;
}

.navbar .item {
  flex-grow: 1;
}

.flexbox {
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-link:hover {
  color: #c41e3a;
}
