.navbar-lewagon {
  justify-content: center;
  background: rgb(184, 242, 230);
  color: white;
  height: 90px;
  align-items: center;
  //font-family: $navbar-font;
}

.item {
  flex-grow: 1;
}

.flexbox {
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
