.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  // overflow: hidden;
  width: 1024px; /* Fixed width */
  margin: 0 auto; /* Center */
}

.new-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  // position: relative;
  width: 749px;
  height: 482px;
  border-radius: 37px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(0deg, #c41e3a 15.52%, #5e0e1c 77.45%);
}
.responsive-image {
  width: 400px;
  height: 500px;
  object-fit: cover; /* Options: 'contain', 'cover', 'fill', or 'none' */
  border-radius: 37px; /* Match the container's border-radius */
}

.new-overlay-card {
  // position: absolute;
  // top: 50%; /* Center vertically */
  // right: 37px; /* Align to the right */
  // transform: translateY(-50%); /* Adjust to center exactly vertically */
  width: 225px;
  height: 410px;
  border-radius: 29px;
  /*padding: 42px;*/
  background: #fefefe;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25) inset,
    -1px -1px 4px 0px rgba(0, 0, 0, 0.25) inset;
  // z-index: 1;
  text-align: center;
}

.new-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, sans-serif;
  text-align: center;
  color: #333;
}

h1 {
  color: #010101;
  margin-top: 42px;
  font-family: Dosis;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.6px;
}

h2 {
  color: #010101;
  font-family: Dosis;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.1px;
  margin-bottom: 33px;
}

.description {
  width: 154px;
  height: 117px;
  flex-shrink: 0;
  color: #010101;
  font-family: Dosis;
  font-size: 14px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: 2.1px;
  text-align: left;
  margin-left: 34px;
}

.case-study-button {
  margin-top: 66px;
  background: #c41e3a;
  display: inline-flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fefefe;
  font-family: Dosis;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.1px;
  border-radius: 14px;
}

@media (max-width: 768px) {
  #newproject {
    width: 100vw !important;
    height: fit-content;
  }
  .parent-container {
    width: 100%;
    height: fit-content;
  }
  .new-card-container {
    flex-direction: column;
    width: 80%;
    height: fit-content;
    padding: 15px;
  }
  .responsive-image {
    object-fit: cover; /* Options: 'contain', 'cover', 'fill', or 'none' */
    border-radius: 37px; /* Match the container's border-radius */
    width: 280px;
    height: 315.2px;
  }
  .new-overlay-card {
    width: 90%;
    height: 348px;
  }
}
