.project-title{
color:rgb(242, 8, 156);
text-align: center;
margin-top:100px;
margin-bottom: 30px;
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.flipit-project-card {
  perspective: 1000px; /* Perspective for 3D effect */
  width: 605px; /* Set the width of the card */
  height: 300px; /* Set the height of the card */
  margin-bottom: 40px;


}

.flipit-project-card-inner {
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  transition: transform 0.5s ease; /* Transition for smooth flipping effect */

}

.flipit-project-card:hover .flipit-project-card-inner {
  transform: rotateY(180deg); /* Flip the card on hover */
}

.flipit-project-card-front,
.flipit-project-card-back {
  width: 100%;
  height: 100%;

  position: absolute;
  backface-visibility: hidden; /* Hide the back side of the card initially */


}

.flipit-project-card-front {
  background-color: #3498db; /* Front side background color */
  color: white; /* Front side text color */
  background-image: url('../images/projects/flipit.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
  background-size: cover; /* This property ensures the image covers the entire element */
  background-repeat: no-repeat; /* This property prevents the image from repeating */
  background-position: center center;
  border: solid 15px rgba(0, 0, 0, 0.8);
  border-radius:1%;
}

.flipit-project-card-back {
  background-color: white; /* Back side background color */
  color:white; /* Back side text color */
  background-color: rgba(0, 0, 0, 0.8);
  // border-style: solid;
  transform: rotateY(180deg); /* Initially rotate the back side of the card */
  // border: solid 15px rgb(242, 8, 156);
  border-radius:1%;
  padding: 20px;
}

.dogs-project-card {
  perspective: 1000px; /* Perspective for 3D effect */
  width: 200px; /* Set the width of the card */
  height: 300px; /* Set the height of the card */
  margin-bottom: 40px
}

.dogs-project-card-inner {
  width: 605px;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s ease; /* Transition for smooth flipping effect */
}

.dogs-project-card:hover .dogs-project-card-inner {
  transform: rotateY(180deg); /* Flip the card on hover */
}

.dogs-project-card-front,
.dogs-project-card-back {
  width: 605px;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* Hide the back side of the card initially */
}

.dogs-project-card-front {
  background-color: #3498db; /* Front side background color */
  color: white; /* Front side text color */
  background-image: url('../images/projects/dogsfordays.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
  background-size: cover; /* This property ensures the image covers the entire element */
  background-repeat: no-repeat; /* This property prevents the image from repeating */
  background-position: center center;
  border: solid 15px rgba(0, 0, 0, 0.8);
  border-radius:1%;
}

.dogs-project-card-back {
  background-color: white; /* Back side background color */
  color:white; /* Back side text color */
  background-color: rgba(0, 0, 0, 0.8);
  // border-style: solid;
  transform: rotateY(180deg); /* Initially rotate the back side of the card */
  // border: solid 15px rgb(242, 8, 156);
  border-radius:1%;
  padding: 20px;
}

.highlight{
  color:rgb(242, 8, 156);
}

.link{
  color:white;
}

.link:hover  {
  color: rgb(242, 8, 156); /* Color change on hover */
  transition: color 0.3s ease;
}

.italic-text{
  font-style:italic;
}

.bold-text{
  font-weight:400;
}
