.timeline-title {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: #373737;
  margin-bottom: 30px;
  text-align: center;
}

.timeline {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: auto;
  position: relative;
  padding: 0px 0;
  margin-bottom: 150px;
}

/* Dashed Line */

.timeline::before {
  content: "";
  position: absolute;
  left: 30%;
  top: 0;
  bottom: 0;
  width: 3px;
  background: repeating-linear-gradient(
    to bottom,
    #c41e3a,
    #c41e3a 5px,
    /* Dash Length */ transparent 10px,
    /* Gap Start */ transparent 20px /* Gap Size */
  );
  transform: translateX(-50%);
}

.timeline-item {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0px 0;
}

.date {
  font-weight: 200;
}
.title {
  color: #c41e3a;
}

.left {
  text-align: right;
  font-weight: bold;
  font-family: "Space Mono", serif;
  font-size: 16px;
  color: #373737;
  width: 30%;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.right {
  text-align: left;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  width: 70%;
}

/* Dots on Timeline */
.dot {
  width: 22px;
  height: 22px;
  background: #333;
  border-radius: 50%;
  position: absolute;
  left: 30%;
  transform: translate(-50%, 0);
  z-index: 1;
}

@media (max-width: 500px) {
  .left {
    padding-right: 20px;
  }
  .right {
    padding-left: 20px;
  }
  .timeline {
    max-width: 90%;
  }
}
