.stack-title{
color:rgb(242, 8, 156);
text-align: center;
margin:50px;
}

.skills-container{
  text-align: center;
}
.css-logo{
  height: 110px;
}

.bootstrap-logo{
  height:135px;
}

.figma-logo{
  height:100px;
}

.github-logo{
  height:80px;
}

.html-logo{
  height:110px;
}

.js-logo{
  height:120px;
}

.rails-logo{
  height:110px;
}

.ruby-logo{
  height:90px;
  padding-left:10px;
  padding-right:30px;
}

.terminal-logo{
  height:70px;
}

.vscode-logo{
  height:120px;
}
